<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Siparişiniz başarıyla tamamlandı..</h2>
        <hr />
        <p>Teşekkür ederiz..</p>

    </div>

</div>