<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Lütfen işlemleri yapmaya yetkili bir kullanıcı ile sisteme giriş yapınız...</h1>
        <br />
        <br />
        <p>Anlayışınız için teşekkürler....</p>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Ana Sayfa</a>
    </div>
</div>