<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Kullanıcı kayıt işlemi başarılıdır.</h2>
        <br />
        <br />
        <p>Sisteme kullanı adı  ve şifreniz ile giriş yapabilirsiniz !</p>
        <br />
        <br />
        <p>İlginize teşekkürler...</p>

    </div>

</div>